.email-container{
    padding: 20px 100px;
}
.browser-all-card{
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}
.email-alert-part{
    display: flex;
    align-items: center;
    width: 730px;
    height: 155px;
    border: 2px solid #E53838;
    border-radius: 10px;
    margin: 70px auto 50px;
}
.email-alert-part img{
    margin-bottom: 64px;
}
.email-alert-part .alert-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.email-alert-part .alert-content .red-content{
    font-weight: bold;
    font-size: 32px;
    color:#E53838;
}
.email-alert-part .alert-content p{
    font-weight: 400;
    font-size: 10px;
    color:#FFFFFF;
    text-align: center;
}
@media (max-width: 768px) {
    .email-container{
        padding:8px 12px;
    }
    .browser-all-card{
        display: flex;
        gap:10px;
        flex-wrap: wrap;
    }
    .email-alert-part{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 370px;
        height: 266px;
        border: 2px solid #E53838;
        border-radius: 10px;
        margin: 70px auto 50px;
        justify-content: center;
    }
    .email-alert-part img{
        width: 140px;
        height: 150px;
        margin-bottom: -35px;
    }
    .email-alert-part .alert-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email-alert-part .alert-content .red-content{
        font-weight: bold;
        font-size: 23px;
        color:#E53838;
    }
    .email-alert-part .alert-content p{
        font-weight: 400;
        font-size: 8px;
        color:#FFFFFF;
        text-align: center;
    }
}